@font-face {
    font-family: IRANSans-M;
    src: url(/fonts/IRANSans\(FaNum\)_Medium.ttf);
  }
@font-face {
    font-family:IRANSans-B ;
    src: url(fonts/IRANSans\(FaNum\)_Bold.ttf);
}
@media only screen and (max-width: 1200px) {
    #banner{
        display: block;
    }
    #boxTime{
        display: flex;justify-content: center;
        width: 100%;
    }
    #menu{
        position: absolute !important;right: 52px !important;top: 38px;
        justify-content: flex-end !important;
        z-index: 8;
    }
    #masterTxt{
        position: absolute;top: -2px;
    }
    #time{
        position: relative;top: 10px;
        margin-top: 51px !important;
        margin-bottom: 8px !important;
    }
    #bor4{
        top: 45px !important;
    }
    .triangle{
        top: 43px !important;
    }
}
@media only screen and (max-width: 700px) {
    #menu{
        position: absolute !important;
        /* right: 15px !important; */
        top: 58px;
        justify-content: flex-end !important;
        z-index: 8;
    }
    #masterTxt{
        position: absolute;top: -2px;
        font-size: 1.1rem;
    }
    #time{
        position: relative;top: 10px;
        margin-top: 51px !important;
        margin-bottom: 30px !important;
        font-size: 1.1rem !important;
        text-align: left;
    }
    #bor4{
        top:43px !important;
        /* right: 0pt !important; */
    }
    .triangle{
        top: 41px !important;
        /* right: 3px !important; */
    }
    #iconClock{
        top: 90px !important;
    }
    #clock{
        top: 65px !important;
    }
    
}
body{
    height: 100%;
    background:#eee;
    margin: 0;
    overflow-y: hidden;
}
.txt{
    direction: rtl;
    text-align: center;
    font-family: IRANSans-B;
}
#banner{
    height: fit-content;width: 100%;
    position: relative;
    display: flex;
    background-image: linear-gradient(rgb(61, 61, 61),rgb(199, 199, 199));
    color: azure;
    text-shadow: 2px 2px 3px #000;
    font-size: 1.5rem;
    justify-content:space-between;
    position: relative;
    box-shadow: 2px 2px 3px #000;
    z-index:2;
}

#txtBanner{
    position: relative;
}
#time{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(197, 49, 49);
    font-size: 1.4rem;
    -webkit-text-stroke: 0.8pt rgb(155, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
    width: 300px;    
    margin: 30px 15px;
}
#boxTime{
    text-align: center;
}
#arrivalDate{
    display: none;
    text-align: center;
    background:rgb(0, 0, 0);
    width: 300px;
    height:200px;
    position:absolute;
    top:0;bottom: 0;left:0;right: 0;
    margin:auto;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#ok{
    margin: 20px 20px;
    width: 120px;

}
#sectionDate{
    display: block;
}
#selectMonth{
    margin: 0 10px;
}
#selectYear{
    border-radius: 8px;
    outline: none;
}
#labelPart1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-family: IRANSans-M;
    position: relative;
}
#first{
    right: 24px;
}
#second{
    position: relative;
    right: 50px;
}
#three{
    position: relative;
    right: 45px;
} 

#part1{
    display: flex;
    justify-content: center;
}

#close{
    position:absolute; right:8px; top: 8px;
    color:red;
    cursor: pointer;
}
#sectionTime{
    display: block;
}
#labelPart2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-family: IRANSans-M;
    position: relative;
    justify-content: space-around;
    margin-top: 20px;
}
#part2{
    display: flex;
    justify-content: center;
}
#master{
    margin-top: 30px;
}
.inputEnter{
    width: 80px;
    margin: 0 20px;
    border-radius: 8px;
}
#clock{
    position: absolute;
    top: 52px;
    z-index: 0;
    left: 25px;
    margin: auto;
    width: 217px;
    font-size: 0.85rem;
    font-family: IRANSans-M;
    direction: rtl;
    opacity: 0.6;
    background: black;
    padding: 10px 0 10px 0;
    border-radius: 8px;
    text-align: center;
    display:none;
}
#iconClock{
    position:absolute;left: 27px;top: 71px;
    cursor: pointer;
}
#iconClock:hover{
    opacity: 1 !important;
}

#iconClock img{
    width:22px;height:22px
}
#alert{
    position:absolute;top:-32px;right:0;left: 0;
    margin:auto; 
    color: red;
    background:#ffffff;
    border:solid 1px red;
    border-radius:8px;
    font-family: IRANSans-M;
}
#alert2{
    position:absolute;top:-59px;right:0;left: 0;
    margin:auto; 
    color: red;
    background:#ffffff;
    border:solid 1px red;
    border-radius:8px;
    font-family: IRANSans-M;
}

.bor{
    border-top:solid 3px #ffffff;
    border-bottom:solid 3px #ffffff;
    display:block;
    width:40px;
    height:0;
    position:relative ;
    border-radius: 5px;
    margin-bottom: 5px;
}
#menu{
    text-align: center;
    display: flex;justify-content: center;align-items: center;
    order: 1;
    position: relative;right: 55px;
}
#iconMenu{
    cursor: pointer;
}
#navMenu{
    width:150px;
    display:none;
    opacity: 0;
    direction: rtl;
    margin:0;
    padding: 0;
    background: rgb(46, 46, 46,0.4);
    text-align: right;
    position: relative;
}
.moveMenu{
    transition: all 500ms ease-in-out;
}
#masterMenu{
    width:100%;height:100%;
    display: flex;justify-content:end;
}
#item{
    display: block;
    padding:0;
    margin:0;
}
.subMenu{
    display:flex;
    list-style: none;
    padding: 12px 10px;
    margin:0;
    color:rgb(255, 255, 255);
    font-family: IRANSans-M;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 0;

}
.subMenu:hover{
    background:rgba(39, 39, 39, 0.4);
}
.iconMenu{
    width:16px;height:16px;
    display:block;
    margin:4px 0 0 4px;
}
#bor4{
    position: absolute;top: 85px;right: -7pt;   
    width: 61px;
    border-top:solid 3px #ffffff;
    border-bottom:solid 3px #ffffff;
    display:block;
    height:0;
    border-radius: 5px;
    margin-bottom: 5px;
}
.triangle {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 0;
    border-bottom: 10px solid rgb(37, 37, 37,0.5);
    position: absolute;
    z-index: 6;
    top: 83px;
    right: 62px;
  }
  #small{
      width: 15px;height: 85px;
      background: #ffffff;
      position: absolute;
      right: 135px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 2px 1px 6px rgb(41, 41, 41);
  }
  .triangle1 {
    display: block;
    opacity: 1;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 0;
    border-bottom: 10px solid rgb(37, 37, 37,0.5);
    position: absolute;
    z-index: 6;
    top: 40px;
    right: 1px;
    transform: rotate(90deg);
  }
  .txtMenu{
      margin: 0;
  }
  #masterTxt{
      text-align: center;
      width: 100%;
      margin-right: 75px;
  }